:root {
    --color1: #fbf3eb;
    --color2: #331d18;
    --color3: #89514e;
    --color4: #847f68;
    --color5: #9e9083;
}


.tituloh1 {
    color: var(--color3);
    font-size: 3.7vh;
}

.tituloh3 {
    color: var(--color3);
    font-size: 2.7vh;
}

.contenedorTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcionhTitle {
    color: var(--color3);
    font-size: 2.5vh;
}

.descripcionh4 {
    color: var(--color3);
    font-size: 1.8vh;
}