body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbf3eb;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
